P{
FONT-SIZE: 10px; 
COLOR: #000000; 
FONT-FAMILY: Verdana, Tahoma, sans-serif;
LINE-HEIGHT: 1.2}

ul{
FONT-SIZE: 10px; 
COLOR: #000000; 
FONT-FAMILY: Verdana, Tahoma, sans-serif;
LINE-HEIGHT: 1.2;}

ol{
FONT-SIZE: 10px; 
COLOR: #000000; 
FONT-FAMILY: Verdana, Tahoma, sans-serif;
LINE-HEIGHT: 1.2}

span.pheadings{
FONT-FAMILY: Verdana, Tahoma, sans-serif;
FONT-SIZE: 11px; 
FONT-WEIGHT: bold;
COLOR: #336699;
}

.pheadings{
FONT-FAMILY: Verdana, Tahoma, sans-serif;
FONT-SIZE: 11px; 
FONT-WEIGHT: bold;
COLOR: #336699;
}

h1{
FONT-SIZE: 14px; FONT-WEIGHT: bold;}

h3{
FONT-SIZE: 12px; FONT-WEIGHT: bold;}
	
	
tableborder {border: 1px #333333 solid} 

.seminars {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #cc6600; FONT-FAMILY: Verdana, Tahoma, sans-serif; LINE-HEIGHT: 1.4em;}
	
.products {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #336699; FONT-FAMILY: Verdana, Tahoma, sans-serif; LINE-HEIGHT: 1.4em;}
	
.about {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #006666; FONT-FAMILY: Verdana, Tahoma, sans-serif; LINE-HEIGHT: 1.4em;}
	
A {
	TEXT-DECORATION: underline;
	COLOR: #336699;
}
A:hover {
	TEXT-DECORATION: none
}

.navhome {
FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: Verdana, Tahoma, sans-serif; TEXT-DECORATION: underline}

.navhome:hover {
TEXT-DECORATION: none
}

.footer {
FONT-WEIGHT: none; FONT-SIZE: 9px; COLOR: #666666; FONT-FAMILY: Verdana, Tahoma, sans-serif; TEXT-DECORATION: none}

.sidebarheader {
FONT-FAMILY: Verdana, Tahoma, sans-serif;
FONT-SIZE: 12px; 
FONT-WEIGHT: bold;
COLOR: #666666;
TEXT-DECORATION: none;}
}
.sidebarheader:hover {
FONT-FAMILY: Verdana, Tahoma, sans-serif;
FONT-SIZE: 12px; 
FONT-WEIGHT: bold;
COLOR: #666666;
TEXT-DECORATION: underline;
}

.box
	{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-SIZE: 9px;
    BACKGROUND: #FFFFFF;
    BORDER-LEFT: #000000 1px solid;
    COLOR: #666666;
    BORDER-BOTTOM: #000000 1px solid; 
    FONT-FAMILY: Verdana, Tahoma, sans-serif;

	}
.submit
	{
	BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT-SIZE: 9px;
    BACKGROUND: #336699;
    BORDER-LEFT: #cccccc 1px solid;
   
    BORDER-BOTTOM: #cccccc 1px solid;
	FONT-WEIGHT: ;
	COLOR: #ffffff;
    FONT-FAMILY: Verdana, Tahoma, sans-serif;
	}
	
.border
	{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;    
    BORDER-LEFT: #cccccc 1px solid; 
    BORDER-BOTTOM: #cccccc 1px solid;
}
	